.table  {
    font-family: sans-serif;
    border-collapse:collapse;
}
th  {
    text-align: left;
    border: 1px solid #888;
    padding: 10px;
    color: white;
    background-color: black;
    width: 120px;
}
td  {
    border: 1px solid #888;
    padding: 10px;
}
.productTotalCost  {
    text-align: right;
}
#totalCost  {
    text-align: right;
}
.cost  {
    text-align: right;
}